<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Nagaraju_Dasari/Desktop/ATMentoringProgramEPAM-New"><classes><class name="runners.JunitTest"><methods><include name="validateReportPortalTitle"/></methods></class></classes></test></suite>